<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="<%= csrfToken %>" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet"> 
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%=title %></title>
    <script>
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");
        function updateTodo(id,iscomplete) {
            fetch(`/todos/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    completed: iscomplete,
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
        }
        function deleteTodo(id) {
            fetch(`/todos/${id}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
        }
    </script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <a href="/signout">Signout</a>
            <br>
            <form action="/todos" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                <div class="flex">
                    <div class="flex-auto">
                        <input type="text" name="title" placeholder="What's Next?" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm h-10" required>
                    </div>
                    <div class="flex-auto ml-2">
                        <input type="date" name="dueDate" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm h-10" required>
                    </div>
                    <div class="flex-auto ml-2">
                        <button type="submit" class="bg-green-600 text-white px-5 py-2 rounded h-10">Add</button>
                    </div>
                </div>
            </form>
            <br>
            <%- include('todo.ejs', {title: "Overdue" , data: overdue, id: "count-overdue"}) %>
            <%- include('todo.ejs', {title: "Due Today" , data: dueToday, id: "count-due-today"}) %>
            <%- include('todo.ejs', {title: "Due Later" , data: dueLater, id: "count-due-later"}) %>
            <%- include('todo.ejs', {title: "Completed Items" , data: completed, id: "count-completed"}) %>
        </div>
        <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                            <li> <%= messages.error[i] %></li>
                    <% } %>
        <% } %>
    </div>
</body>
</html>
